{% extends 'base.html' %}
{% block content %}



<div class='container'>
    <div class='row'>
        <div class='col-4'></div>
        <div class='col-4' style="margin-top: 200px; margin-left: 70px;">
                {% if user.is_authenticated %}
                <a class='btn btn-secondary btn-lg' href='{% url "home" %}'>Get Started</a>
                {% else %}
                <a class='btn btn-secondary btn-lg' href='{% url "login" %}'>Get Started</a>
                {% endif %}
        </div>
        <div class='col-4'></div>
    </div>
</div>
{% endblock %}